h2 {
  color: #343941;
}
h4 {
  color: #343941;
}
p, i {
  color: #e4e4e4;
}
#lights {
  color: #e4e4e4;
}
.header {
  background: rgba(255,255,255,0);
  color: #e4e4e4;
}
.back {
  background: #262a30;
}
.content {
  background-color: #262a30;
  color: #a4a4a4;
}

/* Page One Content */
.neu-box {
  background: #343941;
  box-shadow:  0px 0px 0px #262a30, 
             -0px -0px 0px #424852;
}
.neu-box p {
  color: white; 
}
.neu-box.focus {
  box-shadow:  26px 26px 0px #22262c, 
             -26px -26px 0px #424852;
}


/* Page Two Content*/
.carousel-item .cont {
  background: #343941;
  box-shadow:  20px 20px 0px #22262c, 
             -20px -20px 0px #424852;
}
.carousel-item .cont h1 { color: #e4e4e4; }
.carousel-item.left {
  box-shadow:  60px 20px 2px #22262c, 
  -60px -20px 0px #424852;
}
.carousel-item.right {
  box-shadow:  60px 20px 2px #22262c, 
  -60px -20px 0px #424852;
}

/* Page Three Content */
.grid .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(38, 42, 48, 0.8);
}
.card .image {
  background-color: transparent;
}
.card .container {
  background-color: rgba(38, 42, 48, 0.9);
}
.card .container h4 { color: #e4e4e4; }

@media only screen and (max-width: 600px) {
  .card .container {
    background-color: rgba(38, 42, 48, 0.8);
  }
}

#lights:hover {
  color: yellow;
}