.carousel {
    height:100%;
}
.carousel-inner {
    height:100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    background-color: #777;
    color: #fff;
}
.button {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section1 {
    background-color: #333;
    box-shadow: inset 0 30px 5rem rgba(0, 0, 0, .5);
    display: table;
}
.section3 {
    background-color: #655a5a;
    display: table;
}
.section4 {
    background-color: #668;
}
.section5 {
    background-color: #886;
}
.carousel-caption {
    bottom: 35%;
}
.vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%
}
pre {
    color: #fff;
}
#coding {
    display: inline-block;
    text-align: left;
    line-height: 2;
    font-size: 160%;
}
.navbar {
    background-color: rgba(0, 0, 0, .4)
}
@media screen and (max-width: 992px) {
    .navbar:hover {
        background-color: rgba(0, 0, 0, .8)
    }
}
.link {
    text-decoration: underline;
    color: #eee;
}
.link:hover {
    color: #bbb;
}
.content {
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    background: #655a5a;
    box-shadow: inset 10px 10px 10px #5a5050, inset -10px -10px 10px #6c6060;
    height: 100%;
    border-radius: 20px;
}
.table {
    text-align: center;
    color: #fff;
}
.neubtn {
    color: #eee;
    border-radius: 10px;
    background: linear-gradient(145deg, #5b5151, #6c6060);
    box-shadow: 30px 30px 60px #5a5050, -30px -30px 60px #706464;
    margin-bottom: 20px;
}
.btn:hover {
    color: #fff;
}
